* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100rem;
  background-color: #ECF0F3;
}

.frame-nav {
  width: 352px !important;
  height: 100vh;
}

.nav-container {
  position: fixed;
  width: 352px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECF0F3;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6 inset, -2.5px -2.5px 5px #ffffff inset;
          box-shadow: 2.5px 2.5px 5px #D1D9E6 inset, -2.5px -2.5px 5px #ffffff inset;
}

.nav-container .brand {
  position: absolute;
  top: 3rem;
}

.nav-container ul {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.nav-container ul li {
  list-style: none !important;
  margin: 0.8rem 0;
}

.nav-container ul li a {
  padding: 0.5rem 3rem;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}

#hero {
  background-color: #ECF0F3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero .container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .container ul {
  margin: 18px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#hero .container ul li {
  list-style: none;
}

#hero .container ul li:nth-child(2) {
  margin: 0 18px;
}

#hero .container ul li a {
  border-radius: 30px;
  height: 30px;
  width: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}

#hero .container a.contact {
  width: 96px;
  height: 30px;
  margin-top: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}

#about-me {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-me .container h2 {
  margin-bottom: 25px;
}

#about-me .container .frame-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-clip: border-box;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 10px #D1D9E6, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #D1D9E6, -5px -5px 10px #ffffff;
}

#about-me .container .frame-img img {
  border-radius: 50%;
}

#about-me .container .about {
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-clip: border-box;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 20px #D1D9E6, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #D1D9E6, -10px -10px 20px #ffffff;
}

#about-me .container .about p {
  font-size: 1em;
}

#about-me .container .about a {
  margin-top: 24px;
  padding: 0.5rem 1rem;
  width: 10rem !important;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}
/*# sourceMappingURL=main.css.map */