@media (max-width: 575.98px) {
  .truncate {
    height: 10.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .link {
    color: #67a1ff;
    cursor: pointer;
  }
  .nav-container.off {
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
}

@media (min-width: 768px) {
  #hero.w-100 {
    width: 75% !important;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100rem;
  background-color: #ECF0F3;
  overflow-x: hidden;
}

.frame-nav {
  width: 352px !important;
  height: 100vh;
}

.nav-container {
  position: fixed;
  z-index: 1;
  width: 352px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECF0F3;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6 inset, -2.5px -2.5px 5px #ffffff inset;
          box-shadow: 2.5px 2.5px 5px #D1D9E6 inset, -2.5px -2.5px 5px #ffffff inset;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav-container .brand {
  position: absolute;
  top: 3rem;
}

.nav-container ul {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.nav-container ul li {
  list-style: none !important;
  margin: 0.8rem 0;
}

.nav-container ul li a {
  padding: 0.5rem 3rem;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}

.btn-humberger {
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
  padding: 0.7em;
  margin: 0.7em;
  z-index: 10;
}

.btn-humberger img {
  width: 1.5em;
  height: auto;
}

.backtotop {
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
  padding: 0.7em;
  margin: 0.7em;
  bottom: -100rem;
  right: 0;
  z-index: 10;
}

.backtotop img {
  width: 1.5em;
  height: auto;
}

.backtotop.on {
  bottom: 0;
}

footer {
  padding: 0.9em 0.8em;
  border: #ECF0F3;
  background-color: #ECF0F3;
  background-clip: border-box;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6 inset, -2.5px -2.5px 5px #ffffff inset;
          box-shadow: 2.5px 2.5px 5px #D1D9E6 inset, -2.5px -2.5px 5px #ffffff inset;
}

#hero {
  background-color: #ECF0F3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero .container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .container ul {
  margin: 18px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#hero .container ul li {
  list-style: none;
}

#hero .container ul li:nth-child(2) {
  margin: 0 18px;
}

#hero .container ul li a {
  border-radius: 30px;
  height: 30px;
  width: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}

#hero .container a.contact {
  width: 96px;
  height: 30px;
  margin-top: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}

#about-me {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-me .container h2 {
  margin-bottom: 25px;
}

#about-me .container .frame-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-clip: border-box;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 10px #D1D9E6, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #D1D9E6, -5px -5px 10px #ffffff;
}

#about-me .container .frame-img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-clip: border-box;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 30px #D1D9E6, -10px -10px 30px #ffffff;
          box-shadow: 10px 10px 30px #D1D9E6, -10px -10px 30px #ffffff;
}

#about-me .container .about {
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-clip: border-box;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 20px #D1D9E6, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #D1D9E6, -10px -10px 20px #ffffff;
}

#about-me .container .about p {
  font-size: 1em;
}

#about-me .container .about a {
  margin-top: 24px;
  padding: 0.5rem 1rem;
  width: 10rem !important;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}

#skills {
  margin-bottom: 10rem;
}

#skills .nav {
  margin-top: 25px;
}

#skills .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#skills .nav ul li {
  list-style: none;
  margin-right: 2rem;
}

#skills .nav ul li span {
  cursor: pointer;
  width: 106px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  align-items: center;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}

#skills .content-skills {
  margin-top: 40px;
}

#skills .content-skills .learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#skills .content-skills .learn.hide {
  opacity: 0;
}

#skills .content-skills .basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#skills .content-skills .basic.hide {
  opacity: 0;
}

#skills .content-skills .skill {
  width: 100px;
  height: 100px;
  margin: 1em 0;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-clip: border-box;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}

#portfolio .list {
  margin-top: 2.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#portfolio .list .card-p {
  margin: 0.5em;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-clip: border-box;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 10px;
  -webkit-box-shadow: 15px 15px 30px #D1D9E6, -15px -15px 30px #ffffff;
          box-shadow: 15px 15px 30px #D1D9E6, -15px -15px 30px #ffffff;
}

#portfolio .list .card-p .figure {
  width: auto;
  height: 171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 2.5px 2.5px 5px #D1D9E6, inset -2.5px -2.5px 5px #FFFFFF;
          box-shadow: inset 2.5px 2.5px 5px #D1D9E6, inset -2.5px -2.5px 5px #FFFFFF;
  border-radius: 10px;
  position: relative;
}

#portfolio .list .card-p .figure img {
  padding: 7.5px;
  width: inherit;
  height: inherit;
}

#portfolio .list .card-p .figure .view {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

#portfolio .list .card-p .figure .view a {
  position: absolute;
  bottom: -3rem;
  right: 1em;
  padding: 0.5em;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

#portfolio .list .card-p .figure .view label {
  position: absolute;
  top: -3em;
  right: 1em;
  padding: 0.5em;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

#portfolio .list .card-p .figure .view span {
  position: absolute;
  bottom: 1em;
  left: -4em;
  padding: 0.5em;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

#portfolio .list .card-p .figure:hover:only-child .view {
  background-color: #ecf0f3a2;
}

#portfolio .list .card-p .figure:hover:only-child .view a {
  bottom: 1em;
}

#portfolio .list .card-p .figure:hover:only-child .view label {
  top: 0;
}

#portfolio .list .card-p .figure:hover:only-child .view span {
  left: 1em;
}

#contact input, #contact textarea {
  margin-top: 1em;
  padding: 0.9em 0.8em;
  border: #ECF0F3;
  background-color: #ECF0F3;
  background-clip: border-box;
  word-wrap: break-word;
  min-width: 0;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6 inset, -2.5px -2.5px 5px #ffffff inset;
          box-shadow: 2.5px 2.5px 5px #D1D9E6 inset, -2.5px -2.5px 5px #ffffff inset;
}

#contact button {
  border: none;
  margin: 0 auto;
  padding: 0.7em 1em;
  background-color: #ECF0F3;
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
          box-shadow: 2.5px 2.5px 5px #D1D9E6, -2.5px -2.5px 5px #ffffff;
}
/*# sourceMappingURL=main.css.map */